@use '../data/base';
@use '../data/media-queries' as mq;
@use "../helpers";

@include base.set(
	(
		space: 1.5em,
	)
);
@include mq.set(
	(
		small: 640px,
	)
);

$cadds: (
	".header": (
		"border": 1px solid c-primary,
		"background": c-secondary,
		"padding": v-space,
		"padding--hover": 2em,
		"padding--mobile": 3em,
		"padding--before": 3em,
	),
	".main": (
		"padding": v-space,
		"background": white,
	),
	".footer": (
		"background": black,
		"color": white,
		"padding": v-space,
	),
);

@import "../";
