@use "../data/media-queries";
@use "../data/pseudo";
@import "helpers";

@mixin cadds-build($settings) {
	@each $selector, $value in $settings {
		#{$selector} {
			@include cadds-values($value); // @include cadds($setting-key);;
		}
	}
}

@mixin cadds-values($values) {
	@each $key, $value in $values {
		$modifier: get-modifier($key);
		$property: get-prop($key);
		@if $modifier {
			@if index(pseudo.$all, $modifier) {
				&#{get-dots($modifier)}#{$modifier} {
					#{$property}: #{$value};
				}
			} @else {
				@if $modifier == "mobile" or $modifier == "small" {
					@media #{media-queries.$small} {
						#{$property}: #{$value};
					}
				} @else if $modifier == "desktop" or $modifier == "medium" {
					@media #{media-queries.$medium} {
						#{$property}: #{$value};
					}
				} @else if $modifier == "large" {
					@media #{media-queries.$large} {
						#{$property}: #{$value};
					}
				} @else {
					&--#{$modifier} {
						content: "hoezo dan?";
						#{$property}: #{$value};
					}
				}
			}
		} @else {
			#{$property}: #{$value};
		}
	}
}
